@import "src/shared/Animation/style";

.skeleton-item {
  background: #ccc;
  overflow: hidden;
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0,
                    rgba(255, 255, 255, 0.2) 20%,
                    rgba(255, 255, 255, 0.5) 60%,
                    rgba(255, 255, 255, 0)
    );
    animation: skeletonAnimation 3s infinite;
    content: '';
  }
}

.skeleton-item.catalog {
  height: 400px;
}

.skeleton-item.subcatalog {
  height: 200px;
}
.skeleton-item.header2 {
  height: 2.4rem;
  width: 20%;
  border-radius: 5px;
}

.skeleton-item.product-item-img {
  width: 100%;
  height: 300px;
}

.skeleton-item.header4 {
  height: 2.3rem;
  border-radius: 5px;
  width: 100%;
}

.skeleton-item.short-header-4 {
  height: 3.4rem;
  border-radius: 5px;
  width: 50%;
}

.skeleton-item.price {
  height: 2.4rem;
  border-radius: 5px;
  width: 30%;
}

.skeleton-item.header6 {
  height: 1.6rem;
  width: 75%;
  border-radius: 5px;
}

