.product-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px fit-content(100%);

  &__info {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-column: 1;
  grid-row: 2;

  &__title {
    font-weight: 600;
    grid-column: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.6rem;
  }

  &__price {
    display: flex;
    align-items: center;
  }

  &__price-before-discount {
    font-size: 16px;
    padding: 0 0 0 10px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #6a6a6a;
  }

  &__price-with-discount {
    font-size: 18px;
  }

  &__add-to-cart-wrap {
    display: grid;
    justify-items: end;
  }

  &__btn-add-to-cart {
    border: 1px solid #000000;
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    transition: all .3s;
    font-size: 1.6rem;
    margin: 15px  0 0 0;
    width: 100%;
    &:hover {
      background: #ffffff;
      color: #000000;
      transition: all .3s;
    }
  }
}