.product-item {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px fit-content(100%);

  &__info {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;

  &__title {
    font-size: 18px;
    padding: 0 0 10px 0;
    font-weight: 300;
    grid-column: 1/3;
  }

  &__price {
    display: grid;
  }

  &__price-before-discount {
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: line-through;
  }

  &__price-with-discount {
    font-size: 24px;
  }

  &__add-to-cart-wrap {
    display: grid;
    justify-items: end;
  }

  &__btn-add-to-cart {
    border: 1px solid #000000;
    background: #fff;
    color: #000000;
    padding: 5px 10px;
    transition: all .3s;
    align-self: end;

    &:hover {
      background: #000000;
      color: #fff;
      transition: all .3s;
    }
  }
}