.container {
  padding: 0px 15px;
}

@media (min-width: 575.98px) {
  .container {
    margin: auto;
    padding: 0 15px;
  }
}

@media (min-width: 768.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1330px;
  }
}
