.subcategory {
  width: 100%;
  padding: 100px 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 15px;
  }

  &__item {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-auto-rows: 100%;
    height: 100%;

    &:hover {
      .subcategory {
        &__item-img {
          transition: 0.3s;
          transform: scale(1.2, 1.2);
        }
      }
    }
  }

  &__item-img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    z-index: -1;
    object-position: center center;
  }

  &__item-title-background {
    grid-column: 1;
    grid-row: 1;
    background: rgba(49, 55, 61, 0.47);
    display: grid;
    align-items: center;
  }

  &__item-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
  }
}
