.admin-card-textarea {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	&__field {
		grid-column: 1/3;
		text-align: right;
		padding: 0 15px 0 0;
	}
	&__textarea {
		grid-column: 3/13;
		border: 1px solid #31373d;
		padding: 4px;
		border-radius: 5px;
	}
}
