.header {
  width: 100%;
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  font-size: 1.6rem;

  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: fit-content(100%) 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  &__logo {
    padding: 15px 0;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__nav-links {
    justify-self: end;
    display: flex;
    grid-gap: 15px;
    position: relative;
  }

  &__nav-link {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin: 0 20px 0 0;
    display: block;
    position: relative;
    &::after {
      content: '';
      width: 0%;
      height: 4px;
      left: 0;
      bottom: 0;
      position: absolute;
      background: #000000;
      transition: width .3s;
    }
    &:hover::after {
      width: 100%;
      transition: width .3s;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-btn-wrapper {
    display: none;
  }

  &__user {
    padding: 15px 0;
    position: relative;

    &:hover &-account {
      display: grid;
    }

    &-auth-sing-in {
      padding: 0px 15px;
      text-transform: uppercase;
      text-decoration: none;
    }

    &-auth-sing-out {
      background: #0000;
      border: 1px solid #000000;
      text-transform: uppercase;
      margin: 10px 0 0 0;
    }

    &-auth-sing-up {
      background: #000000;
      padding: 7px 10px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #000000;
      transition: all .3s;

    }

    &-account {
      display: none;
      position: absolute;
      padding: 20px;
      width: max-content;
      right: 0;
      top: 100%;
      background: #ffffff;
      border: 1px solid #000000;
      grid-gap: 10px;
      z-index: 888;

      &-img {
        //object-fit: cover;
        //object-position: center center;
        width: 50px;
        height: 50px;
        background: #000000;
        border-radius: 50%;
        margin: 0 15px 0 0;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-auth-sing-up:hover {
      background: #ffffff;
      color: #000000;
      transition: all .3s;
    }
  }

  &__user-icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 800px) {
  .header {
    &__menu-btn-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &__menu-btn {
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 20px;
      background: #0000;
      border: none;
    }

    &__menu-btn-wrapper div {
      width: 20px;
      background: #000000;
      height: 2px;
    }

    &__btn-container {
      position: absolute;
      top: 101%;
      left: 0;
      right: 0;
      background: #ffffff;
    }

    &__btn-container {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__nav-links {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px 0;
    }

    &__nav-links {
      justify-self: start;
    }

    &__user-account{
      display: grid;
      position: relative;
      border: none;
      width: 100%;
      border-top: 1px solid #000000;
      padding: 20px 0;
    }

    &__user-icon {
      display: none;
    }

    &__user {
      padding: 0;
    }

    &__user-auth {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

