.catalog {
	width: 100%;
	padding: 100px 0;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
	}

	&__title {
		font-size: 38px;
		font-weight: 300;
		text-align: center;
		padding: 25px 0 55px 0;
		text-transform: uppercase;
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 400px;
		overflow: hidden;

		&:hover {
			.catalog {
				&__item-img {
					transition: 0.3s;
					transform: scale(1.2, 1.2);
				}
			}
		}
	}

	&__item-img {
		grid-column: 1;
		grid-row: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s;
		z-index: -1;
		object-position: center center;
	}

	&__item-title-background {
		grid-column: 1;
		grid-row: 1;
		background: rgba(49, 55, 61, 0.47);
		display: grid;
		align-items: center;
	}

	&__item-title {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		color: #fff;
	}
}
